/* Default styles */
.card{
  display: flex;
}
.div1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.div2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}


/* Media query for screen width greater than 1000px - Applies to both .div1 and .div2 */
@media  (min-width: 1001px) {
  .card{
    /* display: none; */
    flex-direction: column;
  }
  .div1 {
    
      background-color: purple;
      width: 200px;
      height: 200px;
  }

  .div2 {
      background-color: orange;
      width: 200px;
      height: 200px;
  }
}
