*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color: #333;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
header {
  margin: 0 auto;
  max-width: 968px;
  padding: 30px 0;
}
header .title {
  font-size: 1.618rem;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  position: relative;
}
header .title::after {
  background: linear-gradient(135deg, #0ff, #0af);
  content: '';
  display: block;
  height: 4px;
  margin-bottom: 20px;
  width: 60px;
}
header .subtitle {
  margin-bottom: 50px;
  width: 100%;
}
main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 968px;
  overflow: hidden;
}
.card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  height: 375px;
  justify-content: center;
  position: relative;
  width: 300px;
}
.card.card-1 {
  background: url(http:/unsplash.it/477/520);
}
.card.card-2 {
  background: url(http:/unsplash.it/405/400);
}
.card.card-3 {
  background: url(http:/unsplash.it/359/580);
}
.card::after {
  background: rgba(0, 0, 0, 0.7);
  content: '';
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all 300ms ease-in;
  width: 100%;
}
.card:hover::after, .card:hover .project-title, .card:hover .project-subtitle {
  opacity: 1;
}
.card .project-title {
  color: white;
  display: block;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  padding: 10px 0;
  z-index: 10;
}
.card .project-subtitle {
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 300;
  opacity: 0;
  padding: 10px 0;
  z-index: 10;
}
